node_modules

# Local Netlify folder
.netlify

# Build output
/dist

# Vite cache metadata (can change when running dev)
node_modules/.vite/deps/_metadata.json

# Agent related
.claude/
outputs/
.graphify_python
.graphify_transcripts.json
.graphifyignore
graphify-out/

